# AL Template for Dynamics 365 Business Central
.vscode/
.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.flf
TestResults.xml

# IntelliJ IDEA
.idea/
.idea/.DS_Store

# MacOS system files
.DS_Store
.github/.DS_Store

# Python cache
__pycache__/

# Exclude assets folder
assets/

# Exclude custom virtual environments
myenv/
path/to/venv/

# Exclude any existing .DS_Store files in other directories
**/.DS_Store
